<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Odoo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center mb-4">Connexion à Odoo</h1>
                {% load crispy_forms_tags %}
                <form method="post" class="border p-4 shadow-sm rounded">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-info w-100 mt-3">S'inscrire</button>
                </form>
                <a href="/" class="btn btn-info w-100 mt-3">Se connecter</a>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
